body {
    margin: 0;
}
.square {
    height: 100px;
    width: 100px;
    background-color: red;
    padding-top: 30px;
    padding-left: 50px;
    /* to je komentar */
    box-sizing: border-box;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    border: 10px solid black;
    height: 100vh;
}

.navbar {
    background-color: #f1f1f1;
    height: 40px;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.links {
    width: 200px;
    display: flex;
    justify-content: space-around;
}